{% extends 'base.html.twig' %}
{% block body %}
    <div id="who" class="container-fluid bg-2">
        <div class="row">
            <div class="col-sm-5">
              <div class="">
                <h1>Membership</h1>
                <h1>Vusiness Model.</h1>
                <p>Get access to 200+ Premium WP Themes.</p>
                  <button type="button" class="btn btn-light border border-secondary rounded">Start now</button>
              </div>
            </div>

        </div>
    </div>

    <!--------------------------------------------------------------->

    <div class="container-fluid text-center  mt-5">
        <h3 class="">We craft ecosystems that grow businesses.</h3><br>
        <p>We are full service digital agency that believes being a Favorite brand is more valuable than just being a Famous one. We craft beautiful usufull  and connected ecosystems that grows business and build enduring relationship between brands and humans</p>
        <div class="row d-flex justify-content-center text-left">
            <div class="col-sm-3 topH">
                <img class="img-thumbnail" src="../Images/thumbnail-1.jpg" alt="">

                <h4>User experience</h4>
                <p>Consarcinantibus narrabimus insidias causarum nimia ut utm.</p>
            </div>
            <div class="col-sm-3">
                <img class="img-thumbnail" src="../Images/thumbnail-2.jpg" alt="">

                <h4>Social Media</h4>
                <p>Consarcinantibus narrabimus insidias causarum nimia ut .</p>
            </div>
            <div class="col-sm-3 topH">
                <img class="img-thumbnail" src="../Images/thumbnail-3.jpg" alt="">

                <h4>Branding</h4>
                <p>Consarcinantibus narrabimus insidias causarum nimia ut ut.</p>
            </div>
        </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block stylesheets %}
    <style>
div#who{
    background-image: url("../../Images/kallyas-landingpage.jpg");
    background-size: cover;
    background-position: 0px -100px;
    height: 600px;
}
    </style>
{% endblock %}


