{% extends 'base.html.twig' %}
{% block body %}
    <div class="bg container-fluid text-center ">
        <h3 class="">Pick your plan.</h3><br>

        <div class="row d-flex justify-content-center text-
center">
            <div class="col-sm-3 ">
                <h2>59</h2>
                <H4>Single License</H4>
                <p>1 theme</p>
                <p> 1years </p>
                <p>20%</p>
                <button type="button" class="btn btn-light border border-secondary rounded">Start now</button>
            </div>
            <div class="col-sm-3 borderTest">
                <h2>59</h2>
                <H4>Single License</H4>
                <p>1 theme</p>
                <p> 1years </p>
                <p>20%</p>
                <button type="button" class="btn btn-light border border-secondary rounded">Start now</button>
            </div>
            <div class="col-sm-3 borderTest">
                <h2>59</h2>
                <H4>Single License</H4>
                <p>1 theme</p>
                <p> 1years </p>
                <p>20%</p>
                <button type="button" class="btn btn-light border border-secondary rounded">Start now</button>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
.bg {
    background-color: #313131;
    height: available;
    color: white;
}
        .borderTest{
            border-left: 1px solid;
        }
    </style>
{% endblock %}
